<p>Johan Otálora</p>

<div class ="contenedor">
      <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/1.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                             <p>{{'{
                                Name: Alderaan <br>  
                                Rotation_period: 24 <br>
                                Orbital_period: 36 <br>
                                Diameter: 12500 <br>
                                Climate": Temperate <br>
                                Gravity": 1 standard <br>
                                Terrain": Grasslands, mountains <br>
                                Surface_water: 40 <br>
                                Population: "2000000000 <br>
                                Residents: <br>
                                    * Leia Organa <br>
                                    * Bail Prestor Organa <br>
                                    * Raymus Antilles <br>
                                Films: <br>
                                    * Episode 4 - A new hope <br>
                                    * Episode 3 - Revenge of the Sith <br>
                                Created: 2014-12-10T11:35:48.479000Z <br>
                                Edited: 2014-12-20T20:58:18.420000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/2.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Bespin <br>
                                Rotation_period: 12 <br>
                                Orbital_period: 5110 <br>
                                Diameter: 118000 <br>
                                Climate: Temperate <br>
                                Gravity: 1.5 (surface), 1 standard (Cloud City) <br>
                                Terrain: Gas giant <br>
                                Surface_water: "0" <br>
                                Population: 6000000 <br>
                                Residents: Lobot <br>
                                Films: Episode 5 - The Empire Strikes Back <br>
                                Created": "2014-12-10T11:43:55.240000Z <br>
                                Edited": "2014-12-20T20:58:18.427000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/3.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Cato Neimoidia <br>
                                Rotation_period: 25 <br>
                                Orbital_period: 278 <br>
                                Diameter": 0 <br>
                                Climate": Temperate, moist <br>
                                Gravity": 1 standard <br>
                                Terrain": Mountains, fields, forests, rock arches <br>
                                Surface_water": Unknown <br>
                                Population: 10000000 <br>
                                Residents: Nute Gunray <br>
                                Films: Episode 3 - Revenge of the Sith <br>
                                Created: 2014-12-10T13:46:28.704000Z <br>
                                Edited: 2014-12-20T20:58:18.449000Z          
                         }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/4.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Coruscant <br>
                                Rotation_period: 24 <br>
                                Orbital_period: 368 <br>
                                Diameter: 12240 <br>
                                Climate: Temperate <br>
                                Gravity: 1 standard <br>
                                Terrain: Cityscape, mountains <br>
                                surface_water: Unknown <br>
                                Population: 1000000000000 <br>
                                Residents: <br>
                                    * Finis Valorum <br>
                                    * Adi Gallia <br>
                                    * jocasta Nu <br>
                                Films: <br>
                                   * Episode 6 - Return of the Jedi <br>
                                   * Episode 1 - The phantom Menace <br>
                                   * Episode 2 - Attack of the Clones <br>
                                   * Episode 3 - Revenge of the Sith <br>
                                Created: 2014-12-10T11:54:13.921000Z <br>
                                Edited: 2014-12-20T20:58:18.432000Z
                            }'}}>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/5.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                         <p>{{'{
                                Name: Dagobah <br>
                                Rotation_period: 23 <br>
                                Orbital_period: 341 <br>
                                Diameter: 8900 <br>
                                Climate: Murky <br>
                                Gravity: N/A <br>
                                Terrain: Swamp, jungles <br>
                                Surface_water: 8 <br>
                                Population: Unknown <br>
                                Films: <br>
                                   * Episode 5 - The Empire Strikes Back <br>   
                                   * Episode 6 - Return of the Jedi <br>
                                   * Episode 3 - Revenge of the Sith <br> 
                                Created: 2014-12-10T11:42:22.590000Z <br>
                                Edited: 2014-12-20T20:58:18.425000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/6.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                           <p>{{'{
                                Name: Felucia <br>
                                Rotation_period: 34 <br>
                                Orbital_period: 231 <br>
                                Diameter: 9100 <br>
                                Climate: Hot, humid <br>
                                Gravity: 0.75 Standard <br>
                                Terrain: Fungus forests <br>
                                Surface_water: Unknown <br>
                                Population: 8500000 <br>
                                Films: Episode 3 - Revenge of the Sith <br> 
                                Created: 2014-12-10T13:44:50.397000Z <br>
                                Edited: 2014-12-20T20:58:18.447000z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/7.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                          <p>{{'{
                                Name: Geonosis <br>
                                Rotation_period: 30 <br>
                                Orbital_period: 256 <br> 
                                Diameter: 11370 <br>
                                Climate:Temperate, arid <br>
                                Gravity: 0.9 standard <br>
                                Terrain: Rock, desert, mountain, barren <br>
                                Surface_water: 5 <br>
                                Population: 100000000000 <br>
                                Residents: Poggle the Lesser <br> 
                                Films: Films: Episode 2 - Attack of the Clones <br>                               
                                Created: 2014-12-10T12:47:22.350000Z <br>
                                Edited: 2014-12-20T20:58:18.437000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/8.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Hoth <br>
                                Rotation_period: 23 <br>
                                Orbital_period: 549 <br>
                                Diameter: 7200 <br>
                                Climate: Frozen <br>
                                Gravity: 1.1 standard <br>
                                Terrain: Tundra, ice caves, mountain ranges <br>
                                Surface_water: 100 <br>
                                Population: Unknown <br>
                                Films: Episode 5 - The Empire Strikes Back <br>                                ],
                                Created: 2014-12-10T11:39:13.934000Z <br>
                                Edited: 2014-12-20T20:58:18.423000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/9.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                           <p>{{'{
                                Name: Kamino <br>
                                Rotation_period: 27 <br>
                                Orbital_period": 463 <br>
                                Diameter: 19720 <br>
                                Climate: Temperate <br>
                                Gravity: 1 standard <br>
                                Terrain: Ocean <br>
                                Surface_water: 100 <br>
                                Population: 1000000000 <br>
                                Residents: <br>
                                    * Boba Fett <br>
                                    * Lama Su <br>
                                    * Taun We <br>
                                Films: Episode 2 - Attack of the Clones <br>
                                Created: 2014-12-10T12:45:06.577000Z <br>
                                Edited: 2014-12-20T20:58:18.434000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/10.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Naboo <br>
                                Rotation_period: 26 <br>
                                Orbital_period: 312 <br>
                                Diameter: 12120 <br>
                                Climate: Temperate <br>
                                Gravity: 1 standard <br>
                                Terrain: Grassy hills, swamps, forests, mountains <br>
                                Surface_water: 12 <br>
                                Population: 4500000000 <br>
                                Residents: <br>
                                    * R2-D2 <br>
                                    * Palpatine <br>
                                    * Padmé Amidala <br>
                                    * Jar Jar Binks <br>
                                    * Roos Tarpals <br>
                                    * Rugor Nass <br>
                                    * Ric Olié <br>
                                    * Quarsh Panaka <br>
                                    * Gregar Typho <br>
                                    * Cordé <br>
                                    * Dormé <br>
                                Films: <br>
                                   * Episode 6 - Return of the Jedi <br>
                                   * Episode 1 - The phantom Menace <br>
                                   * Episode 2 - Attack of the Clones <br>
                                   * Episode 3 - Revenge of the Sith <br> 
                                Created: 2014-12-10T11:52:31.066000Z <br>
                                Edited: 2014-12-20T20:58:18.430000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/11.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'
                                {
                                    Name: Tatooine <br>
                                    Rotation_period: 23 <br>
                                    Orbital_period: 304 <br>
                                    Diameter: 10465 <br>
                                    Climate: Arid <br>
                                    Gravity: 1 standard <br>
                                    Terrain: Desert <br>
                                    Surface_water: 1 <br>
                                    Population: 200000 <br>
                                    Residents: <br>
                                       * Luke Skywalker <br>
                                       * C-3PO <br>
                                       * Darth Vader <br>
                                       * Owen Lars <br>
                                       * Beru Whitesun Lars <br>
                                       * R5-D4 <br>
                                       * Boggs Darklighter <br>
                                       * Anakin Skywalker <br>
                                       * Shmi Skywalker <br>
                                       * Cliegg Lars <br>
                                    Films: <br>
                                       * Episode 4 - A new hope <br>
                                       * Episode 6 - Return of the Jedi <br>
                                       * Episode 1 - The phantom Menace <br>
                                       * Episode 2 - Attack of the Clones <br>
                                       * Episode 3 - Revenge of the Sith <br> 
                                    Created: 2014-12-09T13:50:49.641000Z <br>
                                    Edited: 2014-12-20T20:58:18.411000Z
                                }'}}
                            </p>
                           </figcaption>
                </figure>
            </a>
        </div>
        <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                     <img src="./assets/img/12.jpg" class="frontal" alt="">
                           <figcaption class="trasera">
                            <p>{{'{
                                Name: Yavin IV <br>
                                Rotation_period: 24 <br>
                                Orbital_period: 4818 <br>
                                Diameter: 10200 <br>
                                Climate: Temperate, tropical <br>
                                Gravity: 1 standard <br>
                                Terrain: Jungle, rainforests <br>
                                Surface_water: 8 <br>
                                Population: 1000 <br>
                                Films: Episode 4 - A new hope <br>
                                Created: 2014-12-10T11:37:19.144000Z <br>
                                Edited: 2014-12-20T20:58:18.421000Z
                            }'}}</p>
                           </figcaption>
                </figure>
            </a>
        </div> 
</div>
